<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="ContentManagement or Standalone">
    <!--<pipelines>
      <getContentEditorWarnings>
        <processor type="Stendahls.Sc.BlobStorage.Cms.Pipelines.ContentEditorBlobInfo, Stendahls.Sc.BlobStorage.Cms"/>
      </getContentEditorWarnings>
    </pipelines>-->
    <commands>
      <command name="media:sendtocloud" type="Stendahls.Sc.BlobStorage.Cms.Commands.UploadBlobsCommand, Stendahls.Sc.BlobStorage.Cms" />
      <command name="media:restorefromcloud" type="Stendahls.Sc.BlobStorage.Cms.Commands.RestoreBlobsCommand, Stendahls.Sc.BlobStorage.Cms" />
    </commands>
  </sitecore>
</configuration>
