<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <commands>
      <command name="media:sendtocloud" type="Stendahls.Sc.BlobStorage.UploadBlobsCommand, Stendahls.Sc.BlobStorage" />
      <command name="media:restorefromcloud" type="Stendahls.Sc.BlobStorage.RestoreBlobsCommand, Stendahls.Sc.BlobStorage" />
    </commands>
    <dataProviders>
      <main set:type="Stendahls.Sc.BlobStorage.SqlServerWithExternalBlobDataProvider, Stendahls.Sc.BlobStorage">
        <param connectionStringName="$(1)" />
        <Name>$(1)</Name>
      </main>
    </dataProviders>
  </sitecore>
</configuration>
