<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.20" targetFramework="net452" />
  <package id="AWSSDK.S3" version="3.3.15" targetFramework="net452" />
  <package id="Sitecore.Kernel.NoReferences" version="8.1.151207" targetFramework="net452" developmentDependency="true" />
</packages>