<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <setting name="Stendahls.BlobStorage.Provider" set:value="Stendahls.Sc.BlobStorage.AwsS3.AwsS3BlobManager, Stendahls.Sc.BlobStorage.AwsS3" />

      <!-- 
        These settings are now obsolete. Use ConnectionStrings.config instead: 
        <add name="BlobStorage.S3.Credentials" connectionString="Bucket=xxx;Region=xxx;AccessKey=xxx;SecretKey=xxx;Prefix=xxx" />
        Bucket is mandatory. The other fields are optional. If AccessKey/SecretKey is omitted, machine role will be used
      -->
      <setting name="Stendahls.BlobStorage.AwsS3.Region" value="eu-west-1" />
      <setting name="Stendahls.BlobStorage.AwsS3.BucketName" value="enter-your-bucket-name-here" />
      <setting name="Stendahls.BlobStorage.AwsS3.Prefix" value="optional/prefix/" />
      <setting name="Stendahls.BlobStorage.AwsS3.AccessKey" value="enter-your-aws-access-key-here" />
      <setting name="Stendahls.BlobStorage.AwsS3.SecretKey" value="enter-your-aws-secret-key-here" />
    </settings>
  </sitecore>
</configuration>
