<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <setting name="Stendahls.BlobStorage.DiskCache.Folder" value="C:\Temp\BlobCache" />
      <setting name="Stendahls.BlobStorage.Databases" value="master,web" />
    </settings>
    <scheduling>
      <agent type="Stendahls.Sc.BlobStorage.Common.DiskCachingCleanupAgent" method="Run" interval="1.00:00:00">
        <param desc="max disk cache size">100MB</param>
      </agent>
    </scheduling>
  </sitecore>
</configuration>
